<body>
    <div class="container">
        <h1>Listado de Películas</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>El Padrino</td>
                    <td><button class="details-button">Más Detalles</button></td>
                </tr>
                <tr>
                    <td>La Lista de Schindler</td>
                    <td><button class="details-button">Más Detalles</button></td>
                </tr>
                <tr>
                    <td>Pulp Fiction</td>
                    <td><button class="details-button">Más Detalles</button></td>
                </tr>
                <tr>
                    <td>Forrest Gump</td>
                    <td><button class="details-button">Más Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>